[Desktop Entry]
Categories=;
Comment=Customizes look and feel of your desktop and applications
Comment[hu]=A munkaasztal és az alkalmazások megjelenésének testreszabása
Comment[it]=Personalizza l'aspetto e lo stile del tuo desktop e delle applicazioni
Comment[ru]=Настройте тему рабочего стола и приложений
Comment[uk]=Налаштовує вигляд Вашого робочого столу і програм
Comment[zh_TW]=自訂桌面和應用程式的外觀風格
Exec=lxappearance
GenericName=Customize Look and Feel
GenericName[hu]=Megjelenés testreszabása
GenericName[it]=Personalizza aspetto e stile
GenericName[ru]=Настройка внешнего вида
GenericName[uk]=Налаштувати вигляд і відображення
GenericName[zh_TW]=自訂外觀風格
Hidden=false
Icon=preferences-desktop-theme
Name=Customize Look and Feel
Name[en_US]=Customize Appearance
Name[hu]=Megjelenés testreszabása
Name[it]=Personalizza aspetto e stile
Name[ru]=Настройка внешнего вида
Name[uk]=Налаштувати вигляд і відображення
Name[zh_TW]=自訂外觀風格
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
