[Desktop Entry]
Categories=GNOME;System;Filesystem;Settings;
Comment=Create, reorganize, and delete partitions
Exec=gksu /usr/sbin/gparted
GenericName=Partition Editor
Hidden=true
Icon=gparted
Name=GParted
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-FullName=GParted Partition Editor
X-GNOME-FullName[ar]=محرر الأقسام مقسّم‌ج
X-GNOME-FullName[bg]=Редактор на дялове на диск за GNOME
X-GNOME-FullName[ca]=Editor de particions GParted
X-GNOME-FullName[cs]=Editor oddílů GParted
X-GNOME-FullName[da]=GParted - partitioneringsprogram
X-GNOME-FullName[de]=GParted Partitionierungswerkzeug
X-GNOME-FullName[el]=Επεξεργαστής κατατμήσεων GParted
X-GNOME-FullName[en_GB]=GParted Partition Editor
X-GNOME-FullName[es]=Editor de particiones GParted
X-GNOME-FullName[et]=GParted partitsioonihaldur
X-GNOME-FullName[eu]=GParted partizio-editorea
X-GNOME-FullName[fi]=GParted - levyosioiden muokkain
X-GNOME-FullName[fr]=Éditeur de partitions GParted
X-GNOME-FullName[gl]=Editor de particións GParted
X-GNOME-FullName[gu]=GParted પાર્ટીશન સંપાદક
X-GNOME-FullName[he]=עורך המחיצות GParted
X-GNOME-FullName[hu]=GParted partíciószerkesztő
X-GNOME-FullName[is]=GNOME disksneiðastjórinn
X-GNOME-FullName[it]=Editor di partizioni GParted
X-GNOME-FullName[ja]=GParted パーティション編集ツール
X-GNOME-FullName[kk]=GParted бөлімдерді басқарушысы
X-GNOME-FullName[lt]=Skirsnių redaktorius „GParted“
X-GNOME-FullName[lv]=Gparted sadaļu redaktors
X-GNOME-FullName[nb]=GNOME partisjonsredigering
X-GNOME-FullName[nl]=Gparted partitiebewerker
X-GNOME-FullName[pa]=ਜੀਪਾਰਟਡ ਪਾਰਟੀਸ਼ਨ ਐਡੀਟਰ
X-GNOME-FullName[pl]=Edytor partycji GParted
X-GNOME-FullName[pt]=Editor de Partições GParted
X-GNOME-FullName[pt_BR]=Editor de partições GParted
X-GNOME-FullName[ro]=Editorul de partiții GParted
X-GNOME-FullName[ru]=Редактор разделов GParted
X-GNOME-FullName[sk]=GParted editor oddielov
X-GNOME-FullName[sl]=GParted urejevalnik razdelkov
X-GNOME-FullName[sv]=Partitionsredigeraren GParted
X-GNOME-FullName[th]=เครื่องมือแก้ไขพาร์ทิชัน GParted
X-GNOME-FullName[uk]=GParted Редактор Розділів
X-GNOME-FullName[zh_CN]=GParted 分区编辑器
X-GNOME-FullName[zh_HK]=GParted 分割區編輯器
X-GNOME-FullName[zh_TW]=GParted 分割區編輯器
X-Ubuntu-Gettext-Domain=gparted
