[Desktop Entry]
Categories=Graphics;Utility;Core;GTK;Viewer;RasterGraphics;2DGraphics;Photography;
Comment=View your images easily
Comment[fr]=Affiche les images facilement
Comment[et]=Vaata pilte veel lihtsamalt
Comment[fi]=Katso kuviasi helposti
Comment[fr]=Visionner des images facilement
Comment[ja]=簡単に画像を見ることができます
Comment[pl]=Wyświetla obrazy
Comment[zh_CN]=轻松查看数码相片和图片
Comment[zh_TW]=輕鬆檢視數位相片和圖片
Encoding=UTF-8
Exec=gpicview %f
GenericName=Image Viewer
GenericName[et]=Pildivaatur
GenericName[fi]=Kuvankatselija
GenericName[fr]=Visionneur d'images
GenericName[ja]=画像ビューワ
GenericName[pl]=Przeglądarka obrazów
GenericName[zh_CN]=图片查看器
GenericName[zh_TW]=圖片檢視器
Hidden=true
Icon=gpicview
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-tga;image/x-portable-pixmap;image/x-portable-bitmap;image/x-targa;image/x-portable-greymap;application/pcx;image/svg+xml;image/svg-xml;
Name=Image Viewer
Name[et]=pildivaatur
Name[fi]=kuvankatselija
Name[fr]=Visionneur d'images
Name[ja]=画像ビューワ
Name[pl]=Przeglądarka obrazów
Name[zh_CN]=图片查看器
Name[zh_TW]=圖片檢視器
StartupNotify=true
Terminal=false
Type=Application
