#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Monitor Settings
Name[zh_TW]=螢幕設定
Name[fi]=Näytön asetukset
Name[et]=Monitori sätted
Name[ja]=モニタの設定
Comment=Change screen resolution and configure external monitors
Comment[zh_TW]=變更螢幕解析度以及設定外接顯示器
Comment[fi]=Muuta näytön tarkkuutta ja aseta ulkoiset näytöt
Comment[et]=Muuda ekraani eraldusvõimet ja seadista väliseid kuvareid
Comment[ja]=解像度の変更と外部モニタの設定を行います
Exec=lxrandr
Encoding=UTF-8
Type=Application
Categories=Settings;
Terminal=false
Icon[en_US]=/usr/share/icons/gnome-colors-common/scalable/apps/gsd-xrandr.svg
Icon=/usr/share/icons/gnome-colors-common/scalable/apps/gsd-xrandr.svg
