#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]=شاشة طرفية
GenericName[bg]=Терминал
GenericName[ca]=Terminal
GenericName[cs]=Terminál
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=Τερματικό
GenericName[es]=Terminal
GenericName[es_VE]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääte
GenericName[fr]=Terminal
GenericName[gl]=Terminal
GenericName[he]=מסוף
GenericName[hr]=Terminal
GenericName[hu]=Terminál
GenericName[id]=Terminal
GenericName[it]=Terminale
GenericName[ja]=端末
GenericName[ko]=터미널
GenericName[lt]=Terminalas
GenericName[ml]=ടെ‍ര്മിനല്
GenericName[ms]=Terminal
GenericName[nb]=Terminal
GenericName[nl]=Terminalvenster
GenericName[nn]=Terminal
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ru]=Терминал
GenericName[sk]=Terminál
GenericName[sl]=Konzola
GenericName[sr]=Терминал
GenericName[sv]=Terminal
GenericName[tr]=Uçbirim
GenericName[uk]=Термінал
GenericName[vi]=Cửa sổ lệnh
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機
Comment=Use the command line
Comment[af]=Gebruik die opdraglyn
Comment[ar]=استخدِم سطر الأوامر
Comment[bg]=Използване на команден ред
Comment[ca]=Utilitza la línia d'ordres
Comment[cs]=Používat příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρήση γραμμής εντολών
Comment[es]=Usar la línea de comandos
Comment[es_VE]=Usar la línea de comandos
Comment[et]=Käsurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=استفاده از خط فرمان
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=שימוש בשורת הפקודה
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan perintah baris
Comment[it]=Usa la riga di comando
Comment[ja]=コマンド・ライン端末です
Comment[ko]=명령 행을 사용합니다
Comment[lt]=Naudoti komandų eilutę
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[pl]=Wiersz poleceń
Comment[pt]=Utilizar a linha de comando
Comment[pt_BR]=Use a linha de comando
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Uporabi konzolo
Comment[sr]=Користите линију наредби
Comment[sv]=Använd kommandoraden
Comment[tr]=Komut satırını kullan
Comment[uk]=Використати командну стрічку
Comment[vi]=Dùng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用命令列
TryExec=lxterminal
Exec=lxterminal
Icon=lxterminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[en_US]=Terminal
Name=Command Terminal
Comment[en_US]=Use the command line
Icon[en_US]=/usr/share/icons/gnome-colors-common/scalable/apps/terminal.svg
