[Desktop Entry]
Version=1.0
Type=Application
Name=Openbox Configuration Manager
Keywords=openbox;settings;configurations;themes
Name[ca]=Gestor de configuració de l'Openbox
Name[de]=Openbox Konfiguration Manager
Name[es]=Gestor de configuración de Openbox
Name[pt]=Gestor de configurações do openbox
Name[pt_BR]=Gerenciador de configurações do Openbox
Name[ru]=Менеджер настройки Openbox
Name[zh_TW]=Openbox 組態管理器
GenericName=Configuration Manager
GenericName[pt]=Gestor de configurações
GenericName[pt_BR]=Gerenciador de configurações
GenericName[ru]=Менеджер настройки Openbox
GenericName[zh_TW]=Openbox 組態管理器
Comment=Tweak settings for Openbox
Comment[ca]=Configureu i personalitzeu el gestor de finestres Openbox
Comment[de]=Konfiguriert den Openbox Window Manager
Comment[es]=Configura i personaliza el gestor de ventanas Openbox
Comment[pt]=Ajustar definições do Openbox
Comment[pt_BR]=Configure as opções do Openbox
Comment[ru]=Настройка Openbox
Comment[zh_TW]=管理 Openbox 組態設定
Icon=obconf
Exec=obconf %f
Categories=Settings;DesktopSettings;GTK;
MimeType=application/x-openbox-theme;
StartupNotify=true
Terminal=false
NoDisplay=true
