[Desktop Entry]
Name=Startup Disk Creator
GenericName=Startup Disk Creator
Comment=Create a startup disk using a CD or disc image
Exec=usb-creator-gtk-pkexec
Icon=usb-creator-gtk
Terminal=false
Type=Application
Categories=System;Settings;GTK;HardwareSettings;
X-Ubuntu-Gettext-Domain=usbcreator
NoDisplay=true
