[Desktop Entry]
Categories=;
Comment=Configure and personalize the Openbox window manager
Comment[ca]=Configureu i personalitzeu el gestor de finestres Openbox
Comment[de]=Konfiguriert den Openbox Window Manager
Comment[es]=Configura i personaliza el gestor de ventanas Openbox
Comment[zh_TW]=管理 Openbox 組態設定
Exec=obconf %f
Hidden=false
Icon=obconf
Icon[en_US]=/usr/share/icons/gnome-colors-common/scalable/apps/xfwm4.svg
MimeType=application/x-openbox-theme;
Name=Openbox Configuration Manager
Name[ca]=Gestor de configuració de l'Openbox
Name[de]=Openbox Konfiguration Manager
Name[en_US]=Window Settings
Name[es]=Gestor de configuración de Openbox
Name[zh_TW]=Openbox 組態管理器
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
