# Launch PCMan File Manager in desktop mode, to manage desktop icons and wallpaper
pcmanfm --desktop &

# network (gnome-network-manger)
nm-applet &

# ALSA volume control widget
volumeicon &

# lxpanel (panel/systray)
(sleep 1 && lxpanel)&

# Start Rescuezilla (as root via PolicyKit) automatically
rescuezilla &
