# Documentation: https://www.gnu.org/software/grub/manual/grub/grub.html
insmod all_video
insmod gfxterm
insmod png
insmod gettext

loadfont "unicode"
terminal_output gfxterm

# If this variable is set, it specifies the time in seconds to wait for keyboard input before booting the default menu
# entry. A timeout of ‘0’ means to boot the default entry immediately without displaying the menu; a timeout of ‘-1’ (or
# unset) means to wait indefinitely.
set timeout=10
# This variable may be set to ‘menu’, ‘countdown’, or ‘hidden’ to control the way in which the timeout (see timeout)
# interacts with displaying the menu. 
timeout_style=menu

# If this variable is set, it identifies a menu entry that should be selected by default, possibly after a timeout
# (see timeout). The entry may be identified by number (starting from 0 at each level of the hierarchy), by title, or by id.
set default=0

# If this variable is set, it sets the resolution used on the ‘gfxterm’ graphical terminal. Note that you can only use modes which
# your graphics card supports via VESA BIOS Extensions (VBE), so for example native LCD panel resolutions may not be available. The default
# is ‘auto’, which selects a platform-specific default that should look reasonable. Supported modes can be listed by ‘videoinfo’ command in GRUB.
#
# The resolution may be specified as a sequence of one or more modes, separated by commas (‘,’) or semicolons (‘;’); each will be tried in turn
# until one is found. Each mode should be either ‘auto’, ‘widthxheight’, or ‘widthxheightxdepth’.
set gfxmode=auto

# This variable may be set to a directory containing a GRUB graphical menu theme. 
set theme=/boot/grub/theme/theme.txt
set locale_dir=/boot/grub/locale

# Creates menu item with translated menu entries.
#
# Usage:
# lang    : Internally used GRUB environment variable to ISO 639-1 code (eg, fr) which is used to load translation .mo file
# tag     : Country-code, eg "FR". This is used to form the full lagnuage tag, eg fr_FR
# language: Human-readable name of language (eg, French)
#
# Note GRUB variable do not propagate contexts (https://bugs.launchpad.net/ubuntu/+source/grub2/+bug/1175127), so have to keep
# re-assigning variable every context change.
function create_menu {
    set language="$1"
    set lang="$2"
    # Set non-GRUB internal environment variable to language tag (eg, fr_FR)
    set tag="$3"
    # Set Linux kernel boot options for locale (language, keyboard layout etc)
    set locale_opts="locale=${lang}_${tag} bootkbd=${tag} console-setup/layoutcode=${tag}"

    submenu $language $lang "$locale_opts" {
        # Re-assign internal GRUB variables, cleared through change of context
        set lang="$2"
        set theme=/boot/grub/theme/theme.txt
        shift 2
        set locale_opts="$@"
        # If boot fails, reboot and try selecting Safe Mode instead
        menuentry $"Start Rescuezilla" "$locale_opts" {
            shift 1
            set locale_opts="$@"
            linux  /casper/vmlinuz boot=casper quiet splash fastboot fsck.mode=skip $locale_opts --
            initrd /casper/initrd.lz
        }

        # Prompts for a video mode and loads the USB image into RAM
        menuentry $"Safe Mode" $locale_opts {
            shift 1
            set locale_opts="$@"
            linux  /casper/vmlinuz boot=casper xforcevesa nomodeset vga=791 toram fsck.mode=skip $locale_opts --
            initrd /casper/initrd.lz
        }

       # Verify integrity of USB drive
        menuentry $"Check USB for defects" $locale_opts {
            shift 1
            set locale_opts="$@"
            # The absence of fsck.mode=skip causes md5sum to be checked, to help detect bitrot data corruption
            linux  /casper/vmlinuz boot=casper quiet splash fastboot $locale_opts --
            initrd /casper/initrd.lz
        }

        if [ ${grub_platform} == "efi" ]; then
            # Configure machine's firmware, boot options etc
            menuentry $"Enter BIOS Setup" {
                fwsetup
            }
        fi

        # Memtest86+ does not support UEFI boot, and GRUB does not support chainloading non-UEFI binaries. Therefore,
        # only display memory test on legacy PC boot (in other words only display when machine is *not* booted in UEFI mode)
        if [ ${grub_platform} == "pc" ]; then
            # Check computer memory for errors
            menuentry $"Memory test" {
                linux16 /memtest/memtest86+.bin
            }
        fi
    }
}

create_menu "English"  "en" "US" 
create_menu "Français" "fr" "FR"
create_menu "Deutsch"  "de" "DE" 
create_menu "Español"  "es" "ES"
