[submodule "src/third-party/util-linux"]
	path = src/third-party/util-linux
	url = https://github.com/rescuezilla/util-linux
[submodule "src/third-party/partclone-utils"]
	path = src/third-party/partclone-utils
	url = https://github.com/rescuezilla/partclone-utils
[submodule "src/third-party/partclone-nbd"]
	path = src/third-party/partclone-nbd
	url = https://github.com/rescuezilla/partclone-nbd
[submodule "src/third-party/debootstrap"]
	path = src/third-party/debootstrap
	url = https://salsa.debian.org/installer-team/debootstrap
[submodule "src/third-party/partclone-latest"]
	path = src/third-party/partclone-latest
	url = https://github.com/Thomas-Tsai/partclone
