*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tar.bz2 filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.deb filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
src/livecd/chroot/usr/sbin/sfdisk.v2.20.1.32bit filter=lfs diff=lfs merge=lfs -text
src/livecd/chroot/usr/sbin/partclone.restore.v0.2.43.32bit filter=lfs diff=lfs merge=lfs -text
src/livecd/chroot/etc/apt/trusted.gpg.d/mozillateam-ubuntu-ppa.gpg filter=lfs diff=lfs merge=lfs -text
