[Desktop Entry]
Categories=;
Comment=Create a startup disk using a CD or disc image
Comment[en_US]=Install Rescuezilla to a USB stick
Exec=usb-creator-gtk-pkexec
GenericName=Startup Disk Creator
Hidden=false
Icon=usb-creator-gtk
Name=Startup Disk Creator
Name[en_US]=Create Bootable USB
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=usbcreator
