[Desktop Entry]
Categories=;
Comment=Browse the file system and manage the files
Comment[de]=Das Dateisystem durchsuchen und Dateien verwalten
Comment[et]=Lehitse failisüsteemi ja halda faile
Comment[fi]=Selaa tiedostojärjestelmää ja hallitse tiedostoja
Comment[ja]=ファイルシステムをブラウズし、ファイルの管理を行います
Comment[zh_TW]=瀏覽檔案系統及管理檔案
Exec=pcmanfm %U
GenericName=File Manager
GenericName[de]=Dateimanager
GenericName[et]=Failihaldur
GenericName[fi]=Tiedostonhallinta
GenericName[ja]=ファイルマネージャ
GenericName[ru]=Файловый менеджер
GenericName[zh_TW]=檔案管理程式
Hidden=true
Icon=system-file-manager
MimeType=x-directory/normal;inode/directory;
Name=File Manager
Name[de]=Dateimanager
Name[et]=Failihaldur
Name[fi]=Tiedostonhallinta
Name[ja]=ファイルマネージャ
Name[ru]=Файловый менеджер
Name[zh_TW]=檔案管理程式
StartupNotify=true
Terminal=false
Type=Application
