restore_step2.png filter=lfs diff=lfs merge=lfs -text
restoringtosmaller_ZTBDLWb.png filter=lfs diff=lfs merge=lfs -text
short_bootloader_ffjyp9t.png filter=lfs diff=lfs merge=lfs -text
backup_step4.png filter=lfs diff=lfs merge=lfs -text
backup_step6_uncompressed.png filter=lfs diff=lfs merge=lfs -text
backup_summary.png filter=lfs diff=lfs merge=lfs -text
clone_step3_BXVAG0i.png filter=lfs diff=lfs merge=lfs -text
clone_step4_not_overwriting_partition_table.png filter=lfs diff=lfs merge=lfs -text
short_bootloader_LzxEBZ6.png filter=lfs diff=lfs merge=lfs -text
verifyimage.png filter=lfs diff=lfs merge=lfs -text
scanning_images.png filter=lfs diff=lfs merge=lfs -text
backup_step6.png filter=lfs diff=lfs merge=lfs -text
cannot_distinguish.png filter=lfs diff=lfs merge=lfs -text
clone_summary.png filter=lfs diff=lfs merge=lfs -text
overwrite_are_you_sure.png filter=lfs diff=lfs merge=lfs -text
r_4ZpZCUc.png filter=lfs diff=lfs merge=lfs -text
image_explorer_step3_unmount.png filter=lfs diff=lfs merge=lfs -text
restore_step1.png filter=lfs diff=lfs merge=lfs -text
network_share_ssh.png filter=lfs diff=lfs merge=lfs -text
restore_progress.png filter=lfs diff=lfs merge=lfs -text
short_bootloader.png filter=lfs diff=lfs merge=lfs -text
network_share_nfs.png filter=lfs diff=lfs merge=lfs -text
please.wait.png filter=lfs diff=lfs merge=lfs -text
restore_step4.png filter=lfs diff=lfs merge=lfs -text
backup_step2.png filter=lfs diff=lfs merge=lfs -text
backup_step7.png filter=lfs diff=lfs merge=lfs -text
clone_step5_gLRQQxY.png filter=lfs diff=lfs merge=lfs -text
clone_step6.png filter=lfs diff=lfs merge=lfs -text
need_help_msg.png filter=lfs diff=lfs merge=lfs -text
smb-version-options.png filter=lfs diff=lfs merge=lfs -text
unmount_fail.png filter=lfs diff=lfs merge=lfs -text
unmounting.png filter=lfs diff=lfs merge=lfs -text
backup_step6_zstandard.png filter=lfs diff=lfs merge=lfs -text
cloning_step1.png filter=lfs diff=lfs merge=lfs -text
image_explorer_step2.png filter=lfs diff=lfs merge=lfs -text
restore_step3.png filter=lfs diff=lfs merge=lfs -text
restore_summary.png filter=lfs diff=lfs merge=lfs -text
ssh-options.png filter=lfs diff=lfs merge=lfs -text
backup_step3.png filter=lfs diff=lfs merge=lfs -text
backup_step5.png filter=lfs diff=lfs merge=lfs -text
clone_step4.png filter=lfs diff=lfs merge=lfs -text
image_explorer_step1.png filter=lfs diff=lfs merge=lfs -text
nfs-version.png filter=lfs diff=lfs merge=lfs -text
rescue_option.png filter=lfs diff=lfs merge=lfs -text
restore_step5.png filter=lfs diff=lfs merge=lfs -text
verify_step2.png filter=lfs diff=lfs merge=lfs -text
backup_progress.png filter=lfs diff=lfs merge=lfs -text
backup_step1.png filter=lfs diff=lfs merge=lfs -text
clone_step2.png filter=lfs diff=lfs merge=lfs -text
image_explorer_step3.png filter=lfs diff=lfs merge=lfs -text
network_share_smb_cifs.png filter=lfs diff=lfs merge=lfs -text
verify_summary.png filter=lfs diff=lfs merge=lfs -text
